/* general */

.text--headings {
  font-family: var(--font--headings);
  font-weight: 600;
  color: var(--very-dark-cyan);
}

.text--body {
  color: var(--grayish-blue);
}

.text--bold {
  font-weight: 700;
}

button {
  min-width: 200px;
  min-height: 50px;
  border-radius: 2000px;
  padding: 0.5rem 3rem;
  border: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  font-family: var(--font--body);
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  opacity: 70%;
}

.button--light {
  background: white;
  color: var(--very-dark-cyan);
}

.button--dark {
  background: var(--pink);
  color: white;
}

/* header */

.header {
  width: 100%;
  padding: 3rem 8%;

  background-color: var(--clr-header-bg);
  background-image: url("./assets/images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero content */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  border: 2px solid green;
}

.hero__text-container {
  width: 40%;
  max-width: 400px;
}

h1 {
  font-size: 3rem;
}

.hero__description {
  color: var(--very-dark-cyan);
}

.hero__img {
  max-width: 600px;
}